<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script src='https://cdn.tailwindcss.com'></script>
    <title>Finance Tracker</title>
  </head>
  <body>
    <div class='h-screen w-full flex overflow-hidden'>
      <!-- Sidebar -->
      <nav class='flex flex-col bg-gray-900 w-64 px-12 pt-4 pb-6'>
        <!-- Side NavLinks -->
        <div class='mt-4'>
          <div class='text-xl text-white font-semibold'>
            <a href='/' class='text-current no-underline'>
              Finance<span class='text-blue-400'>Tracker</span>
            </a>
          </div>
        </div>
        <div class='mt-4'>
          <div class='flex items-center mt-4'>
            <a
              href='/dashboard'
              class='w-full text-center text-white bg-blue-500 hover:bg-blue-700 text-sm font-medium mb-2 px-4 py-2 rounded'
            >Dashboard</a>
          </div>
          <div class='flex items-center mt-4'>
            <a
              href='/dashboard/transactions'
              class='w-full text-center text-white bg-blue-500 hover:bg-blue-700 text-sm font-medium mb-2 px-4 py-2 rounded'
            >Transactions</a>
          </div>
          <div class='flex items-center mt-4'>
            <a
              href='/dashboard/budgets'
              class='w-full text-center text-white bg-blue-500 hover:bg-blue-700 text-sm font-medium mb-2 px-4 py-2 rounded'
            >Budgets</a>
          </div>
          <div class='flex items-center mt-4'>
            <a
              href='/dashboard/account'
              class='w-full text-center text-white bg-blue-500 hover:bg-blue-700 text-sm font-medium mb-2 px-4 py-2 rounded'
            >Account</a>
          </div>
        </div>
      </nav>
      <!-- Content -->
      <main
        class='flex-1 flex flex-col bg-gray-700 transition duration-500 ease-in-out overflow-y-auto p-6'
      >
        {{{body}}}
      </main>
    </div>
  </body>
</html>