<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Finance Tracker</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <link
      href='/css/animated-gradient-bg.css'
      rel='stylesheet'
      type='text/css'
    />
  </head>
  <body class='bg-gray-100 font-sans leading-normal tracking-normal scroll-smooth'>
    <nav class='bg-gray-800 p-4 text-white'>
      <div class='container mx-auto flex justify-between items-center'>
        <div class='text-lg font-semibold'>
          <a href='/' class='text-current no-underline'>
            Finance<span class='text-blue-400'>Tracker</span>
          </a>
        </div>
        <div class='flex space-x-4'>
          <a
            href='login'
            class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'
          >Login</a>
          <a
            href='signup'
            class='bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded'
          >Signup</a>
        </div>
      </div>
    </nav>
    {{{body}}}
    <footer class='bg-gray-800 text-white py-6'>
      <div class='container mx-auto text-center'>
        <p>&copy; 2024 FinanceTracker. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>