{{!< layouts/dashboard}}
<section class='flex flex-wrap gap-4'>
  <div class='flex flex-1 flex-wrap gap-4'>
    <div
      class='bg-gray-900 text-white rounded-lg shadow-lg p-4 sm:p-8 min-w-64 flex-1'
    >
      <h2 class='text-lg sm:text-2xl font-bold mb-6 text-center'>Edit Account</h2>
      <form id='changePasswordForm'>
        <div class='mb-4'>
          <label
            class='block text-gray-300 text-sm sm:text-base font-bold mb-2'
            for='old-password'
          >Old Password:</label>
          <input
            class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
            type='password'
            id='old-password'
            name='old-password'
            required
          />
        </div>
        <div class='mb-6'>
          <label
            class='block text-gray-300 text-sm sm:text-base font-bold mb-2'
            for='new-password'
          >New Password:</label>
          <input
            class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
            type='password'
            id='new-password'
            name='new-password'
            required
          />
        </div>
        <div>
          <input
            id='changePasswordBtn'
            data-id='{{userData.id}}'
            class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'
            type='submit'
            value='Change Password'
          />
        </div>
      </form>
    </div>

    <div
      class='bg-gray-900 text-white rounded-lg shadow-lg p-4 sm:p-8 min-w-64 flex-1'
    >
      <h2 class='text-lg sm:text-2xl font-bold mb-6 text-center'>Current Info</h2>
      <button
        class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'
        id='logoutBtn'
      >Logout</button>

    </div>
  </div>
</section>
<script src='/js/user-login/change-password.js'></script>
<script src='/js/user-login/logout.js'></script>
```