{{!< layouts/dashboard}}
  <div class="rounded-lg border bg-card text-card-foreground shadow-sm bg-slate-800 p-10">
    <div class="space-y-2 text-center">
      <h1 class="text-3xl font-bold">Add New Budget</h1>
      <p class="text-gray-500 dark:text-gray-400">
        Enter your budget details below
      </p>
    </div>
    <div class="space-y-4">
      <div class="space-y-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="budget-name">Budget Name
        </label>
        <input required="true"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="budget-name" placeholder="Groceries" required="">
      </div>
      <div class="space-y-2">
        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          for="budget-amount">Budget Amount
        </label>
        <input required="true"
          class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="budget-amount" placeholder="200" required="" type="number">
      </div>
      <button id="submitBtn"
        class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
        type="submit">
        Submit</button>
      <button id="cancelBtn"
        class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
        type="submit">
        Cancel</button>
    </div>
  </div>
  <script src="/js/budgets/add-budget.js"></script>